.ipynb_checkpoints/01-checkpoint.ipynb
.vscode/PythonImportHelper-v2-Completion.json
__pycache__/config.cpython-310.pyc
__pycache__/eda_helper.cpython-310.pyc
__pycache__/ml.cpython-310.pyc
__pycache__/preprocessing_helper.cpython-310.pyc
cufile.log
